@import "settings";
@import "foundation";
@import "compass/css3";
// Variables
$primary-color: #ff00cc;
$margin-right-left: 12px;

.buttons{
  border:2px solid gray;
  padding:10px;
  margin:20px 50px;
}

.cancel-button{
  @extend .buttons;
  background-color: #ccc;
}

.accept-button{
  background-color: pink;
}

header{
  @include box-shadow(blue 4px 4px 12px);
  margin: 20px, $margin-right-left;

  ul{
    list-style-type: none;
    li{
      display: inline;
      float: left;
      a{
        padding-left: 80px;
        color: primary-color;
      }
    }
  }
}
