@import "settings";
@import "foundation";
@import "compass/css3";
/*Split up the styles file into multiple files
by naming the file with _ an underscore i.e. _buttons.scss
and then import it in the main file */
@import "buttons";
// Variables
$primary-color: #ff00cc;
$margin-right-left: 12px;



header{
  @include box-shadow(blue 4px 4px 12px);
  margin: 20px, $margin-right-left;
  width: 20+20+5;
  ul{
    list-style-type: none;
    li{
      display: inline;
      float: left;
      a{
        padding-left: 80px;
        color: primary-color;
      }
    }
  }
}
