@import "settings";
@import "foundation";
@import "compass/css3";
@import "buttons"l
// Variables
$primary-color: #ff00cc;
$margin-right-left: 12px;



header{
  @include box-shadow(blue 4px 4px 12px);
  margin: 20px, $margin-right-left;

  ul{
    list-style-type: none;
    li{
      display: inline;
      float: left;
      a{
        padding-left: 80px;
        color: primary-color;
      }
    }
  }
}
